<div class='row' style="padding: 3.5rem 2rem;" >
    <div class="col-lg-6 text-center">
    <img src="{{chieldData.image}}" class="" alt="..." >
    </div>
    <div class="col-lg-6 text-start py-3">
        <h2>{{chieldData.title}}</h2>
        <p>{{chieldData.description}}</p>
        <p><label class="text-primary">Category:-</label>{{chieldData.category}}</p>
        <p><label class="text-primary">PRICE:-</label> {{chieldData.price}}</p>
        <button (click)="change()" class="btn btn-outline-primary">Go to home</button>
    </div>
</div>
